* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Helvetica, sans-serif;
}

/* Header */
header {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
}
.header_navbar {
  margin: auto;
  width: 87%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.header_navbar ul li {
  list-style: none;
}
.header_navbar ul {
  display: flex;
  gap: 10px;
}
.logo img {
  width: 140px;
}
.register {
  text-decoration: none;
  text-transform: uppercase;
}
.research {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #333333;
}
.btn_search {
  border:solid 2px gray;
  padding: 5px 5px;


  border-radius: 5px;
}
.research .btn_search input {
  border: none;
  outline: none;
  background-position:none ;
  font-size: large;

    width: 150px;
  height: 30px;

}
.research i {
  font-size: 20px;

  /* padding: 20px; */
}

.hero_image {
  display: flex;
  justify-content: center;
}
.hero_image img {
  width: 87%;
  background-size: contain;
}
.btn {
  width: 86%;
  height: auto;
  margin: auto;
  justify-content: space-between;
  display: flex;
  /* padding-bottom: 20px;
  padding-top: 20px; */
}
.btn .button {
  border-radius: 10px;
  width: 200px;
  height: 190px;
}
.btn .button img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.back {
  display: flex;
  width: 87%;
  height: 300px;
  margin: auto;
}
.cards {
  display: flex;
  width: 88%;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu_card_grid {
  width: 87%;
  /* padding-left:20px ; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.menu_card_grid {
  width: 87%;
  margin: auto;
  justify-content: space-between;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.menu_card img {
  width: 300px;
  /* padding: 8px; */
  height: 450px;
  background-size: cover;
}
.menu_card {
  width: 100%;
  height: auto;
}
/* Footer of zando */
.Footer_zando {
  width: 100%;
  margin-top: 100px;
}
.footer_title {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #191818;
  margin: auto;
}
.Footer_zando img {
  width: 100px;
  background-size: cover;
}
.navbar_title li a {
  text-decoration: none;
  text-align: center;
  color: #0f0f0f;
}
.navbar_title ul li {
  list-style: none;
}
.payment {
  color: #181717;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
.payment img {
  background-size: contain;
  width: 400px;
  padding-top: 10px;
}
.zando {
  margin-left: 1110px;
}
.zando p {
  font-size: 12px;
  padding: 40px;
}
.Grid-photos {
  width: 90%;
  justify-content: center;
  justify-items: center;
  display: grid;
  margin: auto;
}
.Grid-photos img {
  width: 450px;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px;
}
.cards h3 {
  padding-right: 40px;
  text-transform: uppercase;
}
.title h3 {
  color: red;
  margin-top: 25px;
}
.menu_card_grid {
  margin-top: 5px;
  margin-bottom: 90px;
}
.cards h3 {
  padding-top: 25px;
  text-transform: uppercase;
}
.footer_title .mini_footer h3 {
  padding: 5px;
}
